.red-text {
    color: red;
}

.user-card {
    list-style: none;
    width: 17.5%;
    display: inline-block;
    border: 1px teal solid;
    margin-right: 5px;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 3px 2px 5px teal;
}